# Environment variables for MCP Proxy
TZ=Etc/UTC

# the secret token for Zrok, used to authenticate with the Zrok API (this should be kept secret)
ZROK_TOKEN=SECRET
# the name of the public share to create, must be unique in the Zrok environment
ZROK_NAME=marcsmcpproxy
# the API endpoint for Zrok services (where the zrok server runs)
ZROK_API_ENDPOINT=https://zrok.zrok.lcas.group
# the name of the Zrok environment, used to scope the public share
ZROK_ENV_NAME=marcsmcpproxy_env

MAPBOX_ACCESS_TOKEN=SECRET
